@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
$family-sans-serif: "Nunito", sans-serif;
$tablet: 768px;

$purple: #e47ad6;
$primary: $purple;
@import "../../../../node_modules/bulma/sass/utilities/_all.sass";


$box-color: $purple;
$box-background-color:hsl(0, 55%, 54%);
@import "../../../../node_modules/bulma/bulma.sass";